asgiref==3.11.1
certifi==2026.1.4
Django==6.0.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==25.3.0
PyMySQL==1.1.0
pandas==2.3.3
pillow==12.1.1
PyJWT==2.12.1
python-dateutil==2.9.0.post0
pytz==2025.2
qrcode==8.2
regex==2026.2.19
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3