{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="login-page">

    <div class="login-box">
        <h1>🎓 MallaReddy College</h1>
        <p>Admin Login</p>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Login</button>
        </form>

        <p class="error">{{ error }}</p>
    </div>

</div>
    
</body>
</html>